@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 75px;
    padding-right: 70px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 2px;
    font-size: 14px;s
}
.nav-area li a:hover{
    background-color: rgb(0.37, 0.25, 0.46, 0.2);
    color: #C8A2C8;
}
.logo img{
    position: absolute;
    margin: 0 50%;
    width: 180px;
    left: 140px;
    top: 30px;
    display: inline-block;
    height: 180px;
    z-index: 100000;
    margin: 0 auto;
    cursor: pointer;
}